.place{
  margin:  20px 0px 25% 30px;
}

.view{
  color: black;
  float: right;
  /* background-color: orange; */
  width: 15em;
  padding: 5px 0px 5px 5px;
}
.view1{
  color: black;
  float: left;
  /* background-color: orange; */
  /* width: 0%; */
  padding: 5px 0px 5px 5px;
  /* margin-bottom: 100px; */
}
.spcl{
  /* background-color: lightorange; */
  padding: 5px 10px 5px 5px;
  color: orange;
}

.tbl{
  border-style: solid;
  border-width: 2px;
  width: 30%;
  margin: 5px 0% 5% 30%;
  padding: 10px 10px 10px 10px;
}
.oll{
  color: black;
  margin-left: 43%;
  margin-top: 20px;
}
.btn{
  margin: 10% 0px 10px 120%;
  color: white;
  background-color: orange;
  width: 150px;
}
.btn1{
  position: relative;
  cursor: point;
  border-radius: 4px;
  width: 250px;
  height: 70px;
}

.txt{
    width: 20%;
    margin-left: 20px;
}
.button1{
    margin-left: 20px;
}
/* itemsComponent's private CSS styles */
.items {
  margin: 0 0 2em 2em;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.items li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.items a {
  color: black;
  text-decoration: none;
  text-align: right;
  position: relative;
  display: block;
  width: 250px;
  left: .1em;
}

.items a:hover {
  color:#607D8B;
}



.price{
  text-align: right;
  /* color: red; */
}

/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/