.txt{
    width: 20%;
    margin-left: 20px;
    margin-bottom: 10px;
}
.button1{
    margin: 5px 0px 0px 20px;
    color: white;
    background-color: orange;
}
.itmReg{
  margin: 30px 0px 10px 30px;
}
.lb{
  color: black;
  margin-left: -10px;
}
.lb1{
  color: black;
  margin-left: -45px;
}
.btn1{
  float: right;
  color: orange;
  background-color: black;
  cursor: pointer;
  cursor: hand;
}

.itmList{
  width: 300px;
  margin: 5px 0px 10% 30px;
  overflow: auto;
}
/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
} */
.overall{
  border-style: solid;
   border-width: 1px;
   margin: 2px;
}
.col{
  color: black;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
}
.col1{
  color: orange;
}
.price{
  margin-top: 20px;
}
.anchor{
  color:black;
}

.name{
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    /* position: relative;
    left: 50%; */
}
/* .place{} */
.view{
    margin: 10px 0px 5px 20px;
}
.btn{
    margin: 5px 5px 10% 20px;
    color: white;
    background-color: orange;
}
.lb{
    color: black;
}
/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/