<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<div class="card text-center">
  <div class="card-header deli">
    Make Your Tongue Delicious!!..
  </div>
  <nav id="navbar-example2" class="navbar navbar-light seli">
    <a class="navbar-brand seli" href="#">Navbar</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link seli" (click)="login()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link seli"  (click)="register()">Register</a>
      </li>
    </ul>
  </nav>
</div>



 <router-outlet></router-outlet>


<app-footer></app-footer>