.login{
    margin: 1% 0% 0% 59%;
    padding: 20px;
    border-style: solid ;
    border-color: white;
    background-color: white;
    width: 40%;
    height: 30%;
}
.button{
    margin-left: 35%;
    width: 30%;
    color: white;
    background-color: orange;
}
.head1{
    color: orange;
}
.inpt1{
    color: black;
}
/* span{
    border-left: 5px solid red;
} */