.register{
    margin: 1% 0% 0% 59%;
    padding: 20px;
    border-style: solid;
    border-color: white;
    /* background-color: orange; */
    width: 40%;
    height: 30%;

}
.button{
    margin-left: 35%;
    width: 30%;
    color: white;
    background-color: orange;
}
.head1{
    color: orange;
    /* background-color: black; */
}
.inpt1{
    color: black;
}
.spa1{
    color: red;
}
.spa2{
    color: green;
}